body{
    padding: 20;
}
h1  {
   color: rgb(0, 0, 0);
   
}

#turing{
    width: 100%;
   
}


header{
    background-color: #FFBD5C;
    font-size: 20px;
    float: left;
  
 }

    main{
    background-color: #eafed3;
        font-size: 16px;
        padding: 1%;
        border-radius: 15px;
        margin: 2%;
        
    }

    footer{
        font-size: 25px;
        padding: 1%;
        border-radius: 15px;
        margin: 2%;
    }

    .container {
        display: flex;
        grid-template-columns: 400px 300px;
        align-items: center
    }

    #logo{
      width: 7%;
      float: right;
      
    }


#menuToggle input {
   display: block;
   width: 49px;
   height: 55px;
   cursor: pointer;
   opacity: 0; 
   z-index: 2;
   position: absolute;
}


#menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #000000;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px; 
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
}



#menuToggle input:checked ~ span:nth-of-type(1) {
   transform: rotate(45deg) translate(-2px, -1px);
}


#menuToggle input:checked ~ span:nth-of-type(2) {
   opacity: 0;
   transform: scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-of-type(3) {
   transform: rotate(-45deg) translate(0, -1px);
}


#menu {
   position: absolute;
   min-height: 250vh;
   margin: -100px 0 0 -50px;
   padding: 100px 50px 500px 50px;
   background: #F2BC57;
   list-style-type: none;
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
 }
 
 
 #menuToggle input:checked ~ ul {
   transform: none;
 }

#menu{
   width: 170px;



}
 
 
 